/*
 * Copyright (c) 2024 Joshua Lucas
 *
 * SPDX-License-Identifier: MIT
 */

#define COL 0
#define NUM 1
#define NAV 2
#define FUNC 3

#define tap_term_thumb 250
#define tap_term_inner 250
#define tap_term_index 200
#define tap_term_middle 250
#define tap_term_ring 300
#define tap_term_pinky 300
#define tap_term_outer 350

#include <dt-bindings/zmk/keys.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>

#include "behaviors/combos.dtsi"
#include "behaviors/hold-tap.dtsi"
#include "behaviors/mod-morph.dtsi"
#include "behaviors/tap-dance.dtsi"
#include "macros/macros.dtsi"
#include "macros/unicode.dtsi"

&mt {
	tapping-term-ms = <250>;
};

 / {
	conditional_layers {
		compatible = "zmk,conditional-layers";
		tri_layer {
			if-layers = <NUM NAV>;
			then-layer = <FUNC>;
		};
	};

	keymap {
		compatible = "zmk,keymap";

		colemak {
			display-name = "Colemak";
			//	,---------------,---------------,---------------,---------------,									,---------------,---------------,---------------,---------------,
			//	|0	Ins Symbol	|1	   Open		|2	   Save		|3	   Edit		|									|4	  Print		|5	  Save As	|6 Print Screen	|7    Help  	|
			//	|				|				|				|				|									|				|				|				|				|
			//	|		B		|	   ' "		|		W		|		F		|									|		U		|		Y		|	   _ -		|	    J		|
			//	'-------,-------'-------,-------'-------,-------'-------,-------'-------,					,-------'-------,-------'-------,-------'-------,-------'-------,-------'
			//			|8	   LGUI		|9	   LAlt		|10	  LCtrl		|11	   New		|					|12	  Refresh	|13	   RCtrl	|14	   RAlt		|15	   RGUI		|
			//			|				|				|				|				|					|				|				|				|				|
			//			|		A		|		R		|		S		|		P		|					|		L		|		E		|		I		|		O		|
			//	,-------'-------,-------'-------,-------'-------,-------'-------,-------'-------,	,-------'-------,-------'-------,-------'-------,-------'-------,-------'-------,
			//	|16	   Undo		|17	   Cut		|18	   Copy		|19	  LShift	|20	   RAlt		|	|21	   RAlt		|23	  RShift	|24	  Replace	|25	 Select All	|26				|
			//	|				|				|				|				|				|	|				|				|				|				|				|
			//	|		X		|		V		|		C		|		T		|		G		|	|		M		|		N		|		K		|	   , ;		|	   . :		|
			//	'---------------'-------,-------'-------,-------'-------,-------'-------,-------'	'-------,-------'-------,-------'-------,-------'-------,-------'---------------'
			//							|27				|28	  Paste		|29	   Redo		|					|30	   Quit		|31	   Find		|32				|
			//							|	   Esc		|				|				|					|				|				|	  Delete	|
			//							|				|		D		|		Q		|					|		Z		|		H		|				|
			//							'-------,-------'-------,-------'-------,-------'-------,	,-------'-------,-------'-------,-------'-------,-------'
			//									|33	  LShift	|34				|35	   LAlt		|	|36	   RAlt		|37				|38				|
			//									|				|				|				|	|				|				|	OS Shift	|
			//									|	  Return	|	  Space		|	   LTab		|	|	   RTab		|	Backspace	|				|
			//									'---------------'-------,-------'-------,-------'	'-------,-------'-------,-------'---------------'
			//															|39				|					|40				|
			//															|	 Numeric	|					|	 Function	|
			//															|				|					|				|
			//															'---------------'					'---------------'

			bindings = <
					&ht4 LG(DOT) B	&quote_tds		&ht3 LC(S) W	&ht2 F2 F											&ht2 LC(P) U	&ht3 LC(LS(S)) Y &under_minus 	&ht4 F1 J

							&ht4 LGUI A		&ht3 LALT R		&ht2 LCTL S		&ht1 LC(N) P						&ht1 F5 L		&ht2 RCTL E		&ht3 LALT I		&ht4 RGUI O

					&ht4 LC(Z) X	&ht3 LC(X) V	&ht2 LC(C) C	&ht1 LSFT T		&ht1a RALT G		&ht1a RALT M	&ht1 RSFT N		&ht2 LC(H) K	&comm_scln		&dot_cln

											&kp ESC			&ht1 LC(V) D	&ht1a LC(LS(Z)) Q					&ht1a LC(Q) Z	&ht1 LC(F) H	&kp DELETE

													&ht0 LSFT RET	&kp SPACE		&ht0 LALT LS(TAB)	&ht0 RALT TAB	&kp BSPC		&sk RSHIFT

																			&td_num								&td_nav
			>;
		};

		numeric {
			display-name = "Numeric";
			//	,---------------,---------------,---------------,---------------,									,---------------,---------------,---------------,---------------,
			//	|				|				|				|				|									|				|				|				|				|
			//	|		=		|	   < >		|	   [ ]		|	   { }		|									|		!		|	 	&		|	   - _		|	   >		|
			//	|				|				|				|				|									|				|				|				|				|
			//	'-------,-------'-------,-------'-------,-------'-------,-------'-------,					,-------'-------,-------'-------,-------'-------,-------'-------,-------'
			//			|				|				|				|				|					|				|				|				|				|
			//			|		7		|		5		|		3		|	   ( )		|					|		?		|		2		|		4		|		6		|
			//			|				|				|				|				|					|				|				|				|				|
			//	,-------'-------,-------'-------,-------'-------,-------'-------,-------'-------,	,-------'-------,-------'-------,-------'-------,-------'-------,-------'-------,
			//	|				|				|				|				|				|	|				|				|				|				|				|
			//	|		^		|		#		|		*		|		1		|		\		|	|		/		|		0		|		+		|	  trans		|	  trans		|
			//	|				|				|				|				|				|	|				|				|				|				|				|
			//	'---------------'-------,-------'-------,-------'-------,-------'-------,-------'	'-------,-------'-------,-------'-------,-------'-------,-------'---------------'
			//							|				|				|				|					|				|				|				|
			//							|	  trans		|		9		|		%		|					|		$		|		8		|	  trans		|
			//							|				|				|				|					|				|				|				|
			//							'-------,-------'-------,-------'-------,-------'-------,	,-------'-------,-------'-------,-------'-------,-------'
			//									|				|				|				|	|				|				|				|
			//									|	  trans		|	  trans		|	  trans		|	|	  trans		|	  trans		|	  trans		|
			//									|				|				|				|	|				|				|				|
			//									'---------------'-------,-------'-------,-------'	'-------,-------'-------,-------'---------------'
			//															|				|					|				|
			//															|	  trans		|					|	  trans		|
			//															|				|					|				|
			//															'---------------'					'---------------'

			bindings = <
					&equal_neq		&td_angle		&td_brack		&td_brace											&excl_iexcl		&amp_intb		&kp MINUS   &gt_gte

							&n7_sqrt		&n5_euro		&n3_grave		&td_paren							&qmark_iques	&n2_acute		&n4_tilde		&n6_pipe

					&caret_deg		&hash_gbp		&star_mult		&n1_ndash		&bslh_micro			&slash_div		&n0_at			&plus_plmn			&trans		&trans

											&trans			&n9_mdash		&percent_perm						&dollar_cent	&n8_inf			&trans

													&trans			&trans			&trans				&trans			&trans			&trans

																			&trans								&trans
			>;
		};

		navigation {
			display-name = "Navigate";
			//	,---------------,---------------,---------------,---------------,									,---------------,---------------,---------------,---------------,
			//	|				|				|				|				|									|				|				|				|				|
			//	|  Print Screen	|	Caps Lock	|	Caps Word	|	   Home		|									|		F4		|		F7		|	   F10		|	   Menu		|
			//	|				|				|				|				|									|				|				|				|				|
			//	'-------,-------'-------,-------'-------,-------'-------,-------'-------,					,-------'-------,-------'-------,-------'-------,-------'-------,-------'
			//			|				|				|				|				|					|				|				|				|				|
			//			|	  Left		|	   Down		|		Up		|	   End		|					|		F1		|		F5		|		F8		|	   F11		|
			//			|				|				|				|				|					|				|				|				|				|
			//	,-------'-------,-------'-------,-------'-------,-------'-------,-------'-------,	,-------'-------,-------'-------,-------'-------,-------'-------,-------'-------,
			//	|				|				|				|				|				|	|				|				|				|				|				|
			//	|	   Undo		|	   Cut		|	   Copy		|	  Right		|	 BT Next	|	|	 Page Up	|		F2		|		F6		|		F9		|	   F12		|
			//	|				|				|				|				|				|	|				|				|				|				|				|
			//	'---------------'-------,-------'-------,-------'-------,-------'-------,-------'	'-------,-------'-------,-------'-------,-------'-------,-------'---------------'
			//							|				|				|				|					|				|				|				|
			//							|	  trans		|	  Paste		|	   Redo		|					|	Page Down	|		F3		|	  trans		|
			//							|				|				|				|					|				|				|				|
			//							'-------,-------'-------,-------'-------,-------'-------,	,-------'-------,-------'-------,-------'-------,-------'
			//									|				|				|				|	|				|				|				|
			//									|	  trans		|	  trans		|	  trans		|	|	  trans		|	  trans		|	  trans		|
			//									|				|				|				|	|				|				|				|
			//									'---------------'-------,-------'-------,-------'	'-------,-------'-------,-------'---------------'
			//															|				|					|				|
			//															|	  trans		|					|	  trans		|
			//															|				|					|				|
			//															'---------------'					'---------------'

			bindings = <
					&kp PRINTSCREEN	&kp CAPSLOCK	&caps_word		&kp HOME												&kp F4			&kp F7			&kp F10			&kp K_APP

							&kp LEFT		&kp DOWN		&kp UP			&kp END								&kp F1			&ht2 RCTL F5	&ht3 LALT F8	&ht4 RGUI F11

					&ht4 LGUI LC(Z)	&ht3 LALT LC(X)	&ht2 LCTL LC(C)	&kp RIGHT		&ht1a BT_NXT		&ht1a RALT PGUP 	&ht1 RSFT F2	 &kp F6			&kp F9			&kp F12

											&trans			&ht1 LSFT LC(V)	&kp LC(LS(Z))						&kp PGDN		&kp F3			&trans

													&trans			&trans			&trans				&trans			&trans			&trans

																			&trans								&trans
			>;
		};

		function {
			display-name = "Function";
			//	,---------------,---------------,---------------,---------------,									,---------------,---------------,---------------,---------------,
			//	|				|				|				|				|									|				|				|				|				|
			//	|	  Reset		|	   F23		|  Pause Break	|	   F11		|									|	   F12		| Studio Unlock	|	   F24		|   Bootloader	|
			//	|				|				|				|				|									|				|				|				|				|
			//	'-------,-------'-------,-------'-------,-------'-------,-------'-------,					,-------'-------,-------'-------,-------'-------,-------'-------,-------'
			//			|				|				|				|				|					|				|				|				|				|
			//			|		F1		|		F2		|		F3		|	  Insert	|					|  Scroll Lock	|		F8		|		F9		|	   F10		|
			//			|				|				|				|				|					|				|				|				|				|
			//	,-------'-------,-------'-------,-------'-------,-------'-------,-------'-------,	,-------'-------,-------'-------,-------'-------,-------'-------,-------'-------,
			//	|				|				|				|				|				|	|				|				|				|				|				|
			//	|	   F13		|	   F14		|	   F15		|		F4		|		F5		|	|		F6		|		F7		|	   F20		|	   F21		|	   F22	|
			//	|				|				|				|				|				|	|				|				|				|				|				|
			//	'---------------'-------,-------'-------,-------'-------,-------'-------,-------'	'-------,-------'-------,-------'-------,-------'-------,-------'---------------'
			//							|				|				|				|					|				|				|				|
			//							|	  trans		|	   F16		|	   F17		|					|	   F18		|	   F19		|	  trans		|
			//							|				|				|				|					|				|				|				|
			//							'-------,-------'-------,-------'-------,-------'-------,	,-------'-------,-------'-------,-------'-------,-------'
			//									|				|				|				|	|				|				|				|
			//									|	  trans		|	  trans		|	  trans		|	|	  trans		|	  trans		|	  trans		|
			//									|				|				|				|	|				|				|				|
			//									'---------------'-------,-------'-------,-------'	'-------,-------'-------,-------'---------------'
			//															|				|					|				|
			//															|	  trans		|					|	  trans		|
			//															|				|					|				|
			//															'---------------'					'---------------'

			bindings = <
					&sys_reset		&bt BT_PRV		&kp PAUSE_BREAK	&kp F11												&kp F12			&studio_unlock	&bt BT_NXT		&bootloader

							&ht4 LGUI F1	&ht3 LALT F2	&ht2 LCTL F3	&kp INSERT							&kp SCROLLLOCK	&ht2 RCTL F8	&ht3 LALT F9	&ht4 RGUI F10

					&kp F13			&kp F14			&kp F15			&ht1 LSFT F4	&ht1a RALT F5		&ht1a RALT F6	&ht1 RSFT F7	&kp F20			&kp F21			&kp F22

											&trans			&kp F16			&kp F17								&kp F18			&kp F19			&trans

													&trans			&trans			&trans				&trans			&trans			&trans

																			&trans								&trans
			>;
		};

		// Extra layers for ZMK Studio
		extra4 {
			status = "reserved";
		};

		extra5 {
			status = "reserved";
		};

		extra6 {
			status = "reserved";
		};

		extra7 {
			status = "reserved";
		};

		extra8 {
			status = "reserved";
		};

		extra9 {
			status = "reserved";
		};

		extra10 {
			status = "reserved";
		};

		extra11 {
			status = "reserved";
		};

		extra12 {
			status = "reserved";
		};

		extra13 {
			status = "reserved";
		};

		extra14 {
			status = "reserved";
		};

		extra15 {
			status = "reserved";
		};
	};
 };