//

ZMK_UNICODE_SINGLE(iexcl,   N0, N0, A,  N1)
ZMK_UNICODE_SINGLE(cent,    N0, N0, A,  N2)
ZMK_UNICODE_SINGLE(gbp,     N0, N0, A,  N3)
ZMK_UNICODE_SINGLE(deg,     N0, N0, B,  N0)
ZMK_UNICODE_SINGLE(plmn,    N0, N0, B,  N1)
ZMK_UNICODE_SINGLE(acute,   N0, N0, B,  N4)
ZMK_UNICODE_SINGLE(micro,   N0, N0, B,  N5)
ZMK_UNICODE_SINGLE(iques,   N0, N0, B,  F)
ZMK_UNICODE_SINGLE(mult,    N0, N0, D,  N7)
ZMK_UNICODE_SINGLE(div,     N0, N0, F,  N7)
ZMK_UNICODE_SINGLE(intb,    N2, N0, N3, D)
ZMK_UNICODE_SINGLE(euro,    N2, N0, A,  N0)
ZMK_UNICODE_SINGLE(sqrt,    N2, N2, N1, A)
ZMK_UNICODE_SINGLE(inf,     N2, N2, N1, E)
ZMK_UNICODE_SINGLE(neq,     N2, N2, N6, N0)